{% extends "base.html.twig" %}

{% block title %}
	Papajoueur - Inscription
{% endblock %}

{% block body %}
	<section class="registration-section">
		<div class="registration-form-container">
			<h1 class="registration-form-title">inscription</h1>
			{{form_start(registration, { 'attr': {
        'class': 'registration-form' }})}}
			{% if  errors is defined and errors is not empty %}
				<div class="registration-form-errors">
					{% for error in errors %}
						<p class='registration-form-error'>{{ error.message }}</p>
					{% endfor %}
				</div>
			{% endif %}
			<div class="registration-form-row">
				{{form_label(registration.email, 'Adresse email', {'label_attr': {
        'class': 'registration-email-label'}})}}
				{{form_widget(registration.email, {'attr': {
        'class': 'registration-email-input',
        'placeholder': 'Adresse email' }})}}
				<i class="fa-solid fa-envelope registration-form-icons"></i>
			</div>
			<div class="registration-form-row">
				{{form_label(registration.password, 'Mot de passe', {'label_attr': {
        'class': 'registration-password-label'}})}}
				{{form_widget(registration.password, {'attr': {
        'class': 'registration-password-input',
        'placeholder': 'Mot de passe' }})}}
				<i class="fa-solid fa-lock registration-form-icons"></i>
			</div>
			<div class="registration-form-row">
				{{form_label(registration.password_confirm, 'Confirmer le mot de passe', {'label_attr': { 
        'class': 'registration-password-confirm-label'}})}}
				{{form_widget(registration.password_confirm, {'attr': {
        'class': 'registration-password-confirm-input',
        'placeholder': 'Confirmez le mot de passe' }})}}
				<i class="fa-solid fa-lock registration-form-icons"></i>
			</div>
			<button type="submit" class="registration-submit">envoyer</button>
			{{form_end(registration)}}
		</div>
	</section>
{% endblock %}
