{% extends "base.html.twig" %}

{% block title %}
	Papajoueur - Nouvelle review
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.tiny.cloud/1/97xujt63v02pi5q8baozxw48t8ryhh838n540l6bholq34p2/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({selector: '#review-content'});
tinymce.init({selector: '#new-review-good', plugins: 'lists', toolbar: 'numlist bullist'});
tinymce.init({selector: '#new-review-bad', plugins: 'lists', toolbar: 'numlist bullist'});
tinymce.init({selector: '#new-review-summary'});
	</script>
{% endblock %}

{% block body %}
	<section class="create-review-section">
		<h1>Ajouter une nouvelle review</h1>
		<div class="new-review-container">
			<form method='post' action="#" class="new-review-form">
				<div class="new-review-titles-container">
					<div class="new-review-row">
						<label for="new-review-game-title" class="new-review-game-title">Titre du jeu</label>
						<input type="text" name="new-review-game-title" id="new-review-game-title" class="new-review-game-title" value='{{ game.name }}'>
					</div>
					<div class="new-review-row">
						<label for="new-review-title" class="new-review-title">Titre de la review</label>
						<input type="text" name="new-review-title" id="new-review-title" class="new-review-title">
					</div>
				</div>
				<div class="new-review-content">
					<label for="review-content" class="new-review-content">Contenu</label>
					<textarea name="review-content" id="review-content" cols="30" rows="10" class="review-content"></textarea>
				</div>
				<div class="new-review-summary-wrapper">
					<div class="new-review-good-container">
						<label for="new-review-good" class='new-review-good-label'>j'ai aimé</label>
						<textarea name="new-review-good" id="new-review-good" cols="30" rows="10"></textarea>
					</div>
					<div class="new-review-bad-container">
						<label for="new-review-bad" class='new-review-bad-label'>j'ai moins aimé</label>
						<textarea name="new-review-bad" id="new-review-bad" cols="30" rows="10"></textarea>
					</div>
					<div class="new-review-summary-container">
						<label for="new-review-summary" class='new-review-summary-label'>résumé</label>
						<textarea name="new-review-summary" id="new-review-summary" cols="30" rows="10"></textarea>
					</div>
				</div>
				<input type="hidden" name="game-api-id" value="{{ game.apiId }}">
				<input type="hidden" name="new-review-token" value="{{ csrf_token('new_review_token') }}">
				<label class="new-review-opinion" for="new-review-opinion">avis (smiley)</label>
				<select name="new-review-opinion" id="new-review-opinion" class="opinion-select">
					<option value="/images/smileys/excellent.png">Excellent</option>
					<option value="/images/smileys/good.png">Bien</option>
					<option value="/images/smileys/bof.png">Moyen</option>
					<option value="/images/smileys/bad.png">Mauvais</option>
					<option value="/images/smileys/angry.png">A fuir !</option>
				</select>
				<div class="new-review-submit-container">
					<button type="submit" formaction="{{ path('app_admin_review_add', {'gameId': game.apiId, 'action': 'draft'}) }}" class='new-review-draft'>Enregistrer le brouillon</button>
					<button type="submit" formaction="{{ path('app_admin_review_add', {'gameId': game.apiId, 'action': 'publish'}) }}" class='new-review-publish'>Publier la review</button>
				</div>
			</form>
		</div>
	</section>
{% endblock %}
