{% extends "base.html.twig" %}

{% block title %}
	Papajoueur - Review Update
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.tiny.cloud/1/97xujt63v02pi5q8baozxw48t8ryhh838n540l6bholq34p2/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({selector: '#review-content'});
tinymce.init({selector: '#new-review-good', plugins: 'lists', toolbar: 'numlist bullist'});
tinymce.init({selector: '#new-review-bad', plugins: 'lists', toolbar: 'numlist bullist'});
tinymce.init({selector: '#new-review-summary'});
	</script>
{% endblock %}

{% block body %}
	<section class="update-review-section">
		<h1>modifier une review</h1>
		<div class="update-review-container">
			<form method='post' action="#" class="update-review-form">
				<div class="update-review-titles-container">
					<div class="update-review-row">
						<label for="update-review-game-title" class="update-review-game-title">Titre du jeu</label>
						<input disabled type="text" name="update-review-game-title" id="update-review-game-title" class="update-review-game-title" value='{{ review.game.name }}'>
					</div>
					<div class="update-review-row">
						<label for="update-review-title" class="update-review-title">Titre de la review</label>
						<input type="text" name="update-review-title" id="update-review-title" class="update-review-title" value='{{ review.title }}'>
					</div>
				</div>
				<div class="update-review-content">
					<label for="review-content" class="update-review-content">Contenu</label>
					<textarea name="review-content" id="review-content" cols="30" rows="10" class="review-content">{{ review.content }}</textarea>
					<div class="new-review-summary-wrapper">
						<div class="new-review-good-container">
							<label for="new-review-good" class='new-review-good-label'>j'ai aimé</label>
							<textarea name="new-review-good" id="new-review-good" cols="30" rows="10"></textarea>
						</div>
						<div class="new-review-bad-container">
							<label for="new-review-bad" class='new-review-bad-label'>j'ai moins aimé</label>
							<textarea name="new-review-bad" id="new-review-bad" cols="30" rows="10"></textarea>
						</div>
						<div class="new-review-summary-container">
							<label for="new-review-summary" class='new-review-summary-label'>résumé</label>
							<textarea name="new-review-summary" id="new-review-summary" cols="30" rows="10"></textarea>
						</div>
					</div>
				</div>
				<input type="hidden" name="game-api-id" value="{{ review.game.apiId }}">
				<input type="hidden" name="update-review-token" value="{{ csrf_token('update_review_token') }}">
				<div class="update-review-submit-container">
					<button type="submit" formaction='{{ path('app_admin_review_update', {'id': review.id}) }}' class='update-review-save'>Enregistrer les modifications</button>
					{% if review.status == 'draft' %}
						<button type="submit" formaction='{{ path('app_admin_review_update', {'action': 'publish', 'id': review.id}) }}'>Enregistrer et publier</button>
					{% endif %}
				</div>
			</form>
		</div>
	</section>
{% endblock %}
