{% extends 'base.html.twig' %}

{% block title %}Papajoueur - Login
{% endblock %}
{% block body %}
	<section id="login-section" class='login-section'>
		<div class='login-form-container'>
			<h1 class="login-form-title">se connecter</h1>
			{% if error %}
				<div class='login-form-error'>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<form method='post' action="{{path('app_login')}}" class="login-form">
				<div class="login-form-row">
					<label for="username" class="username-label">email</label>
					<input class='login-username-input' id='username' name='_username' type="text" value="{{last_username}}" placeholder="Adresse email">
					<i class="fa-solid fa-user login-user-icon"></i>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="login-form-row">
					<label for="password" class="password-label">mot de passe</label>
					<input id='password' name='_password' type="password" class="login-password-input" placeholder="Mot de passe">
					<i class="fa-solid fa-lock login-password-icon"></i>
				</div>
				<a href="{{path('app_forgotten_password')}}" class="forgotten-pass-link">mot de passe publié ?</a>
				<button class="login-form-submit">se connecter</button>
				<a href="{{path('app_registration')}}" class="registration-link">pas encore de compte ? inscription!</a>
			</form>
		</div>
	</section>
{% endblock %}
