<div id="comment-{{ comment.id }}" class="comment-wrapper">
	<header class="comment-header">
		<img src="/{{ comment.author.avatar }}" alt="avatar de l'auteur" class="comment-avatar">
		<div class="comment-metadata">
			<span class='comment-author'>{{ comment.author.email }}</span>
			<span class='comment-date'>{{ comment.createdAt|date('d M. Y - H:i', "Europe/Paris") }}</span>
		</div>
	</header>
	<div class="comment-content">{{ comment.content|raw }}</div>
	<footer class="comment-footer">
		<div class="comment-likes">
			<a href="{{ path('app_comment_feeling', {'id': comment.id, 'action': 'like'}) }}" title="J'kiffe">
				<i class="fa-solid fa-heart"></i>
			</a>
			{{ comment.likes }}
		</div>
		<span class='comment-footer-separator'>|</span>
		<div class="comment-dislikes">
			<a href="{{ path('app_comment_feeling', {'id': comment.id, 'action': 'dislike'}) }}" title="J'kiffe pas">
				<i class="fa-solid fa-heart-crack"></i>
			</a>
			{{ comment.dislikes }}
		</div>
		<span class='comment-footer-separator'>|</span>
		<div class="comment-report">
			{% if comment.reported is same as null %}
				<a href="{{ path('app_comment_report', {'id': comment.id}) }}" title="Signaler ce commentaire">
					<i class="fa-solid fa-flag"></i>
				</a>
			{% endif %}
			{% if comment.reported == true %}
				<i class="fa-solid fa-spinner"></i>
				<span class='reported-message'>Modération en cours...</span>
			{% endif %}
			{% if comment.reported == false and comment.reported is not null %}
				<i class="fa-solid fa-check"></i>
				<span class='reported-message allowed-comment'>Commentaire validé</span>
			{% endif %}
		</div>
	</footer>
</div>
