<nav id="navbar" class='navbar'>
	<div class="navbar-container">
		<a class='nav-logo-link' href="{{ path('app_home') }}">
			<img class="navbar-image" src="/images/gamepad_black.png" alt="gamepad icon">
		</a>
		<div class="nav-items-container">
			<a href="#" class="nav-item">
				<i class="fa-solid fa-pen"></i>
				<span>reviews</span>
			</a>
			<a href="#" class="nav-item">
				<i class="fa-solid fa-video"></i>
				<span>videos</span>
			</a>
			{% if app.user %}
				{% for role in app.user.roles %}
					{% if role == 'ROLE_ADMIN' %}
						<a href="{{path('app_admin_reviews')}}" class="nav-item">
							<i class="fa-solid fa-screwdriver-wrench"></i>
							<span>reviews</span>
						</a>
						<a href="{{path('app_admin_drafts')}}" class="nav-item">
							<i class="fa-solid fa-screwdriver-wrench"></i>
							<span>brouillons</span>
						</a>
						<a href="{{ path('app_admin_game_search') }}" class="nav-item">
							<i class="fa-solid fa-screwdriver-wrench"></i>
							<span>nouvelle review</span>
						</a>
						<a href="{{ path('app_admin_comments') }}" class="nav-item">
							<i class="fa-solid fa-comment"></i>
							<span>commentaires</span>
						</a>
						<a href="{{ path('app_admin_comments_reported') }}" class="nav-item">
							<i class="fa-solid fa-comment"></i>
							<span>à modérer</span>
						</a>
					{% endif %}
				{% endfor %}
			{% endif %}

			<div class="login-container">
				{% if not app.user %}
					<a class="nav-item nav-item-login" href="{{path('app_login')}}">
						<i class="fa-solid fa-user"></i>
						<span>se connecter</span>
					</a>
				{% else %}
					<a class='navbar-avatar-wrapper' href="{{ path("app_avatar_change", {'id': app.user.id}) }}" title="Modifier mon avatar">
						<img class='navbar-user-avatar' src="/{{app.user.avatar}}" alt="user avatar">
					</a>
					<a class="nav-item nav-item-logout" href="{{path('app_logout')}}" title="Se déconnecter">
						<i class="fa-solid fa-right-from-bracket"></i>
						<span>{{app.user.email}}</span>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</nav>
