<a href='{{ path('app_review_show_one', {'id': review.id}) }}' class="review-card-container">
	<img src="{{review.game.image}}" alt="thumbnail" class="review-card-thumbnail">
	<div class="review-card-glimpse">
		<img class="review-card-smiley" src="{{ review.smiley }}" alt="avis sur le jeu">
		<p class="review-card-titles">{{review.game.name}}
			:
			{{review.title}}</p>
		<div class="review-card-platforms">
			{% if review.game.platforms|length > 5 %}
				{% for platform in review.game.platforms|slice(0, 5) %}
					<span class="badge badge-platform">{{ platform.platform.name }}</span>
				{% endfor %}
				<span>...</span>
			{% else %}
				{% for platform in review.game.platforms %}
					<span class="badge badge-platform">{{ platform.platform.name }}</span>
				{% endfor %}
			{% endif %}
		</div>
		<p class="review-card-extract">
			{{ review.content|slice(0, 150)|raw }}...
		</p>
		<p class="review-card-publication-date">Publié le
			{{ review.createdAt|date('d-m-Y') }}</p>
	</div>
</a>
